.bash_history
.gdbinit
.gwms-user-job-wrapper.sh
.headtailbuf_3551690
.history
.htaccess
.lesshst
.osg-container.sh
.python_history
.root_hist
.viminfo
archive/*
log.d/*
__pycache__
*/log.d/*
*/__pycache__
simsamples.dag.*
mergehists.dag.*
*.root
*.hddm
*.astate
*.hbook
*.log
*.rz
*/*.root
*/*.hddm
*/*.astate
*/*.rz
*/.hdds*
*/*.hbook
