PLUGINS danarest,monitoring_hists,BCAL_inv_mass,FCAL_invmass,BCAL_Hadronic_Eff,BCAL_Eff,CDC_Efficiency,CDC_TimeToDistance,TrackingPulls,FCAL_Hadronic_Eff,FDC_Efficiency,SC_Eff,TOF_Eff,trackeff_missing

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
#NTHREADS Ncores

THREAD_TIMEOUT 600

REST:DATAVERSIONSTRING recon_RunPeriod-2019-11_ver01

# This was the original timestamp. It had to be updated on 
# 8/20/2020 due to new TOF calibrations. Runs 71350-71405
# and 71589-71591 at NERSC were processed with this timestamp.
#JANA_CALIB_CONTEXT calibtime=2020-07-24-00-00-01     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)

# This is used for runs 71592-71620 (and hopefully all others) at PSC
#JANA_CALIB_CONTEXT calibtime=2020-09-28-00-00-01

TRKFIT:HYPOTHESES 2,3,8,9,11,12,14,15    #GEANT PIDs for tracking: Add e+/- & pbar

#Fail job if input file is truncated (default 0)
#EVIO:TREAT_TRUNCATED_AS_ERROR 1

# Turn off production of random trigger files since beam fiducial map is not set correctly
#RANDSKIM:USEBEAM 0

